@import '@fontsource/lexend'; /* Grammage 400 par défaut */

body
 {
  font-family: 'Lexend', system-ui, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
 /* overflow-x: hidden; /*pas de scroll horizontal*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, strong {
  font-weight: 700;
}


.container {
  max-width: 1300px;   /* ajuster selon la largeur souhaitée */
  margin-inline: auto; /* centre le conatainer horizontalement*/
  padding-inline: clamp(1rem, 5%, 3rem); /*espace intérieur gauche droite : min 16px, idéalement 5% max 48px, s'adapte automoatiquement*/
  width: 100%; /* prend toute la largeur disponible de son parent dans la limite du max width */
  box-sizing: border-box; /* padding inclus dans la largeur calculée */
}

.links {
  display: flex;
  gap: 20px;
  
}

.links a {
  font-size: inherit;
}



a {
  text-decoration: none;
  color: inherit;       /* même couleur que le texte */
  font-weight: 400;     /* optionnel */
}

.main-text {
  font-size: 42px;
  color: #f9faf8; 
  margin: 0;
}

h1 {
  margin: 0;
  line-height: 1.2;
  font-size: 46px;
}

.secondary-text {
  font-size: inherit;
  color: #f2eef7;
  margin: 0;
}

.bouton-clair {
  background-color: #f2eef7;
  color: #2f2559;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
  display: inline-block;       /* Respecte largeur parent */
  max-width: 100%;             /* Jamais plus large */
  box-sizing: border-box;      /*  Inclut padding */
}

.bouton-clair:hover {
  background-color: #e8e6F2;
  border-color: #e8e6F2;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  transform: translateY(-2px);
}


.bouton-fonce {
  background-color: #3a2d6f;
  color: #f2eef7;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid white;
  transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease; 
  display: inline-block;       /* Respecte largeur parent */
  max-width: 100%;             /* Jamais plus large */
  box-sizing: border-box;      /*  Inclut padding */
  padding: 10px;
}

.bouton-fonce:hover {
  background-color: #241c47; 
  border-color: #e8e6F2;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  transform: translateY(-2px);
}

h2 {
  font-size: 28px;
  text-align: center;
}